.box {
    display: block;
    width: 200px;
    height: 200px;
    border: rgb(233, 14, 178) 2px solid;
}

.red {
    display: block;
    background-color:red ;
    color: white;
}

.black {
    background-color: black;
    color: white;
}