<button (click)="toggle()">Toogle</button>
<button (click)="toggleBoxByDirective()">Toogle Box ByDirective</button>
<button (click)="myTestDAttrDirectiveInstance.toggleClass()">
  Toogle Box ByDirective
</button>
<div class="box" appTestAttr #myTestDAttrDirectiveInstance="testAttr">
  Directive testing box
</div>
<div *ngIf="show; else hiddenMessage" class="box">Color box</div>
<app-new-test appTestAttr></app-new-test>
<ng-template #hiddenMessage>
  <div>Block is hidden</div>
</ng-template>

<div>
  <div
    *ngFor="let user of collection; let isOdd = odd"
    [ngClass]="{ red: isOdd, black: !isOdd }"
  >
    {{ user.name }}
  </div>
</div>
<pre>
    {{ testData$ | async | json }}
</pre>
